.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: none;
  outline: none;
  &__title {
    flex-grow: 1;
  }
  &__field {
    width: 100%;
    flex-grow: 40;

  }

  &__field:first-line{
    color: red;
  }

  &__info {
    text-align: center;
  }
}
