.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: none;
  outline: none;

  &__title {
    flex-grow: 1;

    font-weight: bold;
    font-size: 20px;

    border: none;
    padding: 10px 30px;

    &:focus {
      outline: none;
    }
  }
  &__field {
    border: none;
    flex-grow: 40;
    line-height: 2em;

    font-size: 16px;

    padding: 20px 30px;
    &:focus {
      outline: none;
    }

  }


  &__info {
    text-align: center;
  }
}
