.search {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;

  width: 100%;


  &__input {
    text-align: center;

    border: none;
    border-radius: 4px;
    background: #343233;
    color: #FFFFFF;

    max-width: 90%;

    font-size: 16px;

    padding: 5px;

    &:focus {
      outline: none;
    }
  }

}
