@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



body, html, .container {
  width: 100vw;
  height: 100vh;

  font-family: 'Roboto', sans-serif;

}

html {
  overflow: hidden;
}

body {
  margin: 0;
}
ul {
  margin: 0;
}

.container {
  display: flex;
}
