.note {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;

  position: relative;
  color: #FFFFFF;

  min-height: 20px;


  cursor: pointer;




  &--selected {
    background-color: #FDD760;
    color: #150B03;
  }

  &__title {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__block {
    position: absolute;
    right: 40px;
  }

  &__actions {
    border: none;
    background-color: #EECD63;
    padding: 0;

    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-left: 20px;

    &:focus {
      outline: none;
    }
    &::after {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;

      content: '\2807';

    }
  }

}
